.single {
    padding: 2px 16px;
    background: linear-gradient(140deg, #e6bdbd 8%,#fbfbfb 100%);
    display: block;
    margin: 20px 10px;
    border-left: 5px solid #fff;
    color: black;
  }
  .single:hover {
    border-left: 5px  solid rgb(113, 9, 73);
  }